body { margin: 0; }
canvas { display: flexbox; }

/* 在style.css文件中 */
/* 仅针对标题设置样式 */
/* CSS样式 */
#left-title, #right-title {
    color: white;
    text-align: center;
    font-size: 4em;
    font-family: 'Courier New';
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  
#left-title {
    left: 13%;  /* 根据需要调整位置 */
    }
  
#right-title {
    right: 13%;  /* 根据需要调整位置 */
  }
  
#explore-button {
    position: absolute;
    bottom: 20px; /* 按需调整位置 */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 2s ease-in-out;
    /* 按钮样式，可根据设计需求调整 */
    padding: 10px;
    font-family: 'Courier New';
    color: black;
    font-size: 1em;
    cursor: pointer;
  }
  
/* for index2 */


/* 设置全黑背景 */
body {
    background-color: rgb(0, 0, 0);
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Courier New';
    /* 去掉background-color或设置为transparent */
    color: white;
    text-align: center;
    padding-top: 50px;
    opacity: 1;
    transition: opacity 2s ease-in-out;
}


.intro p {
    color: white; /* 文字颜色 */
    opacity: 0;
    font-family: 'Courier New';
    transition: opacity 2s ease-in-out;
}

.artist-card {
    background-color: #000000;
    color: white;
    font-family: 'Courier New';
    padding: 20px;
    margin: 20px;
}

.artist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-portrait {
    width: 10%;
    height: auto;
    border-radius: 50%;
}

.artist-card h2 {
    text-align: center;
}

.artworks-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.artist-card img {
    width: 30%;
    height: auto;
    margin: 1%;
}

.artist-card p{
    text-align: center;
}

.artwork {
    width: 30%;
    text-align: center; /* 使作品信息居中 */
}

.artwork img {
    width: 100%; /* 使图片填满容器 */
    height: auto;
}

.artwork-info p {
    margin: 5px 0; /* 调整间距 */
    color: white; /* 根据需要设置颜色 */
}

#audio-controls {
    position: fixed; /* 固定位置 */
    bottom: 10px; /* 距离底部10px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 精确居中 */
}
